@import "./../../style.scss";

.pagination {
  display: flex;
  margin-bottom: 15px;

  .button {
    margin: 2px;

    @include breakpoint($bp-sm) {
      margin: 15px;
    }
  }
}

.page-num {
  @include font-montserrat-bold;
  text-align: center;
  margin: 15px 15px 30px;
}
