@import "./../../style.scss";

.button {
  align-self: flex-end;
  background-color: $color-primary;
  border-radius: 5px;
  border: none;
  color: $color-white;
  display: inline-block;
  margin: 15px 0;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;

  &:hover {
    background-color: darken($color-primary, 10%);
  }

  a {
    color: $color-white;
    text-decoration: none;
  }

  @include breakpoint($bp-md) {
    font-size: 1.25rem;
  }
}
