body {
  @include font-open-sans;
  background-color: $color-secondary;
  color: $color-charcoal;
}

a {
  font-weight: $font-weight-bold;
  text-decoration: none;
  color: $color-primary;
}

.layout {

  display: flex;
  flex-direction: column;
  padding: 15px;

  @include breakpoint($bp-lg) {
    padding: 60px;
    @include max-width;
  }
}

.layout__utils {
  align-self: center;
}

p {
  line-height: 30px;
  margin-bottom: 60px;
}

h2, h3, h4, h5, h6 {
  @include font-open-sans;
}

h1 {
  @include font-montserrat-bold;
  font-size: 2.5rem;

  @include breakpoint($bp-md) {
    font-size: 3rem;
  }
}

h2 {
  font-size: 1.75rem;

  @include breakpoint($bp-md) {
    font-size: 1.8rem;
  }
}

h3 {
  font-size: 1rem;

  @include breakpoint($bp-xsm) {
    font-size: 1.5rem;
  }
}

h4, h5, h6 {
  font-size: 1rem;

  @include breakpoint($bp-xsm) {
    font-size: 1.6rem;
  }

  @include breakpoint($bp-md) {
    font-size: 2rem;
  }
}
