@import "./../../style.scss";

.user-card {
  display: flex;
  padding: 12px;
}

.user-card__name {
  @include font-montserrat-bold;
}

.user-card__info {
  padding-left: 30px;
  display: flex;
  flex-direction: column;
}

.user-card__info-item {
  margin-bottom: 16px;
}

.user-card__image {
  img {
    border-radius: 50%;
  }
}
