@import "./../../style.scss";

.user-card {
  background-color: $color-white;
  border: 1px solid $color-lgray;
  display: flex;
  margin-bottom: 25px;
  padding: 15px;
  width: calc(100% - 15px);


  @include breakpoint($bp-md) {
    flex: 1 1 calc(50% - 43px);
    max-width: 50%;

    &:nth-child(even) {
      margin-left: 15px;
    }
  }
}

.user-card__name {
  @include font-montserrat-bold;
}

.user-card__info {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
}

.user-card__info-item {
  margin-bottom: 16px;
}

.user-card__image {
  img {
    border-radius: 50%;
  }
}
